{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<!-- Basic Page Info -->
		<meta charset="utf-8">
		<title>WEB SCRAPPING TOOL</title>
	
		{% include  "include/cssLinks.html" %}
		<!-- Global site tag (gtag.js' %}) - Google Analytics -->
		
	</head>
	<body>
		<div class="pre-loader">
			<div class="pre-loader-box">
				<!-- <div class="loader-logo"><img src="{% static 'vendors/images/deskapp-logo.svg' %}" alt=""></div> -->
				<div class="loader-logo"><img src="{% static 'vendors/images/logo-image.png' %}" alt="" style="width: 300px;"></div>
				<div class='loader-progress' id="progress_div">
					<div class='bar' id='bar1'></div>
				</div>
				<div class='percent' id='percent1'>0%</div>
				<div class="loading-text">
					Loading...
				</div>
			</div>
		</div>
	
	<!-- Topheader  -->
	{% include  "include/topheader.html" %}
	<!-- Right side bar -->
	{% include  "include/rightsidebar.html" %}
	<!-- Left Side Bar -->
	{% include  "include/leftsidebar.html" %}
	
	
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20">
			<div class="card-box pd-20 height-100-p mb-30">
				<div class="row align-items-center">
					<div class="col-md-4">
						<img src="{% static 'vendors/images/banner-img.png' %}" alt="">
					</div>
					<div class="col-md-8">
						<h4 class="font-20 weight-500 mb-10 text-capitalize">
							Welcome  <div class="weight-600 font-30 text-blue">Get All Headings Data Of Webpage</div>
						</h4>
						<p class="font-18 max-width-600">In this website get all headings data of any website current page so enter or paste the link of any webapge after click search button get all heading data of webpage.</p>
					</div>
				</div>
			</div>
			<form method="POST" >
				{% csrf_token %}
			<div>
				<input name="url"  placeholder="Search Here" type="url" style="height: 49px; width: 600px; border-radius: 10px; font-size: 35px;" required>
				<button type="submit" style="background-color: blue; font-size: 30px; color: honeydew;text-align: center; border-radius: 10PX;width: 200px; margin-top: 20px;">Search</button>
			  </div>    
			</form>
			</div>
		<!-- {% include  "include/footer.html" %} -->
		{% if heading %}
		<div class="pd-ltr-20">
			<div class="card-box pd-20 height-100-p mb-30">
				<div class="row align-items-center">
					
					<div class="col-md-8">
						<h4 class="font-20 weight-500 mb-10 text-capitalize">
							Output of All web page Links 
						</h4>
						<p class="font-18 max-width-600">{{heading}}</p>
					</div>
				</div>
			</div>
		{% endif %}
	<!-- js -->
{% include  "include/jslinks.html" %}
	
</body>
</html>